force-app/main/default/flows/Join_Event_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Team_Member</name>
        <label>Set Team Member</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>teamMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Exist_Team</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_Event_Teams</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_NULL</name>
        <label>Check NULL</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Loop_in_Event_Teams</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Exist_Team</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Team_Member</targetReference>
            </connector>
            <label>is Not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Team_Member</name>
        <label>Check Team Member</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Join_as_a_team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Team_Member_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>teamMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message1</targetReference>
            </connector>
            <label>is Team Member Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Teams</name>
        <dataType>String</dataType>
        <displayField>Scoring_Team__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Scoring_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Scoring_Event_Team__c</object>
        <outputAssignments>
            <assignToReference>teamId</assignToReference>
            <field>Scoring_Team__c</field>
        </outputAssignments>
        <valueField>Scoring_Team__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Join Event Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Join Event Team</label>
    <loops>
        <name>Loop_in_Event_Teams</name>
        <label>Loop in Event Teams</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <collectionReference>Find_Teams</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Exist_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Team_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Team_Member</name>
        <label>Create Team Member</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>teamId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Scoring_Team_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Exist_Team</name>
        <label>Find Exist Team</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_in_Event_Teams.Scoring_Team__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scoring_Team_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Teams</name>
        <label>Find Teams</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_in_Event_Teams</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Scoring_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scoring_Event_Team__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Scoring_Team__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Join_as_a_team</name>
        <label>Join as a team</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Team_Member</targetReference>
        </connector>
        <fields>
            <name>Select_a_team</name>
            <choiceReferences>Teams</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message1</name>
        <label>Message1</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageJoinedTeam</name>
            <fieldText>&lt;p&gt;You joined this event in team &lt;strong&gt;{!teamMember.Team__r.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Teams</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>teamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>teamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scoring_Team_Member__c</objectType>
    </variables>
</Flow>
