force-app/main/default/flows/Update_Event_Team_on_Scoring.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Get_Total_Team_Scoring</name>
        <label>Get Total Team Scoring</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>TotalTeamScoring</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Loop_in_Submissions.Submission_Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_Submissions</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel
  >Update Event Team on Scoring {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Event Team on Scoring</label>
    <loops>
        <name>Loop_in_Submissions</name>
        <label>Loop in Submissions</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference
    >Find_Scoring_Event_Submissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Total_Team_Scoring</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Team_Scoring</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Scoring_Event_Submissions</name>
        <label>Find  Scoring Event Submissions</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_in_Submissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Scoring_Event_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.Scoring_Event_Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scoring_Event_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Team_Scoring</name>
        <label>Update Team Scoring</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.Scoring_Event_Team__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Event_Team_Scoring__c</field>
            <value>
                <elementReference>TotalTeamScoring</elementReference>
            </value>
        </inputAssignments>
        <object>Scoring_Event_Team__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Scoring_Event_Submissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Scoring_Event_Submission__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalTeamScoring</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
