force-app/main/default/flows/Update_Owner_Scoring_Event_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel
  >Update Owner Scoring Event Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Owner Scoring Event Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Scoring_Event_Team</name>
        <label>Find Scoring Event Team</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Scoring_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Team.Team__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scoring_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Scoring_Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scoring_Event_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Team</name>
        <label>Find Team</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Scoring_Event_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scoring_Team_Member__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Team__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fields</name>
        <label>Update Fields</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Scoring_Event_Team__c</field>
            <value>
                <elementReference>Find_Scoring_Event_Team.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scoring_Event__c</field>
            <value>
                <elementReference
        >$Record.Location__r.Scoring_Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scoring_Team__c</field>
            <value>
                <elementReference>Find_Team.Team__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Team</targetReference>
        </connector>
        <object>Scoring_Event_Submission__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
